.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
    margin: 0 auto;
}

.card {
    margin: 5px;
}

header {
    height: 200px;
    text-align: center;
    margin-right: 66px;
}

body {
    font-family: 'Nunito', sans-serif;
}

h1 {
    margin-bottom: 5px;
}

h3 {
    margin-top: 0;
}